h1 {
    color: red;
}
img {
    width: 350px;
    height: 250px;
}
.box-container {
    display: flex;
    flex-flow: row wrap;
}
.box {
    border: 2px solid black;
    width: 350px;
    height: 450px;
    margin: 10px 10px;
}
p , h3 {
    margin-left: 5px;
}